In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Reading in the CSV and creating the dataframe
csv_file = "Resources/TMDB_updated.CSV"
tmdb_df = pd.read_csv(csv_file)
tmdb_df.sample(20)

,Unnamed: 0,title,overview,original_language,vote_count,vote_average
8608,8608,Sergio,A sweeping drama set in the chaotic aftermath ...,en,0,0.0
6666,6666,The Cooler,"Bernie works at a Las Vegas casino, where he u...",en,177,6.8
7137,7137,Casshern,Fifty years of war between the Great Eastern F...,ja,133,6.0
6735,6735,Viva Zapata!,The story of Mexican revolutionary Emiliano Za...,en,102,7.0
3511,3511,The Brood,A man tries to uncover an unconventional psych...,en,313,6.7
7540,7540,Death Race 2000,"In a boorish future, the government sponsors a...",en,236,6.1
664,664,Four Kids and It,A group of kids on holiday in Cornwall meet a ...,en,1,10.0
7974,7974,Blue Crush 2,"Haunted by the memory of her deceased mother, ...",en,68,6.0
2447,2447,Gold,"Kenny Wells, a modern-day prospector, hustler,...",en,994,6.6
4109,4109,Shark Night 3D,A weekend at a lake house in the Louisiana Gul...,en,293,4.9
3787,3787,Enemy,A mild-mannered college professor discovers a ...,en,3336,6.9
2459,2459,The Limey,"The Limey follows Wilson, a tough English ex-c...",en,197,6.7
3515,3515,Material Girls,"Two wealthy sisters, both heiresses to their f...",en,315,5.2
3318,3318,The Sisterhood of the Traveling Pants 2,Four young women continue the journey toward a...,en,560,6.2
7727,7727,Father There Is Only One,"Javier is what we have dubbed as a ""husband-in...",es,96,6.6
5547,5547,Une belle équipe,NaN,fr,24,6.1
2209,2209,Annie Hall,New York comedian Alvy Singer falls in love wi...,en,2391,7.8
4969,4969,The Odd Life of Timothy Green,A childless couple bury a box in their backyar...,en,693,6.7
7681,7681,Bird,Saxophone player Charlie Parker comes to New Y...,en,129,7.0
3484,3484,Friday the 13th,Camp counselors are stalked and murdered by an...,en,1504,6.3

In [3]:
#The next few cells will give some information on the data; what are we working with?
tmdb_df.dtypes

Unnamed: 0             int64
title                 object
overview              object
original_language     object
vote_count             int64
vote_average         float64
dtype: object

In [4]:
tmdb_df.columns

Index(['Unnamed: 0', 'title', 'overview', 'original_language', 'vote_count',
       'vote_average'],
      dtype='object')

In [5]:
#Number of rows
tmdb_df['Unnamed: 0'].count()

10000

In [6]:
#Cleaning the CSV 
tmdb_df = tmdb_df.rename(columns={"Unnamed: 0":"Id","title":"Movie","overview":"Description","vote_count":"Vote_Count","vote_average":"Vote_Average"})

del tmdb_df['original_language']

tmdb_df

,Id,Movie,Description,Vote_Count,Vote_Average
0,0,Ad Astra,"The near future, a time when both hope and har...",2853,5.9
1,1,Bloodshot,"After he and his wife are murdered, marine Ray...",1349,7.2
2,2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,2530,7.1
3,3,Ant-Man,Armed with the astonishing ability to shrink i...,13611,7.1
4,4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",3542,5.9
...,...,...,...,...,...
9995,9995,Cargo,The story of CARGO takes place on rusty space-...,225,5.9
9996,9996,The Good Night,"Gary, a musician, is trapped in an unhappy rel...",67,5.6
9997,9997,The World Is Yours,"To escape his life of crime, a Paris drug deal...",234,7.1
9998,9998,The Grand Seduction,A small fishing village must procure a local d...,169,6.7
9999,9999,Woochi: The Demon Slayer,"Spanning four centuries in Korea, this epic ac...",78,6.7

In [7]:
#Writing a new CSV based on the clean version
tmdb_df.to_csv("clean_tmdb.csv",index=False)