In [1]:
import pandas as pd

In [2]:
#Reading in the CSV and creating the dataframe
csv_file = "Resources/TMDB_updated.CSV"
tmdb_df = pd.read_csv(csv_file)
tmdb_df.sample(20)

,Unnamed: 0,title,overview,original_language,vote_count,vote_average
5139,5139,The Celebration,A grandiose party to celebrate a sixtieth birt...,da,464,7.8
4368,4368,Fifty Shades of Black,An inexperienced college student meets a wealt...,en,825,4.6
7838,7838,Swades,NASA employee Mohan Bhargav comes to India to ...,hi,161,7.6
7901,7901,The Replacement Killers,Hired assassin John Lee is asked by Chinatown ...,en,222,6.0
4493,4493,Arctic Dogs,Animals band together to save the day when the...,en,43,6.1
778,778,Unbreakable,An ordinary man makes an extraordinary discove...,en,5971,7.1
2021,2021,Gothika,"After a car crash, a criminal psychologist reg...",en,1387,6.0
4735,4735,The Other Side of the Door,"Grieving over the loss of her son, a mother st...",en,522,5.3
7924,7924,Goon,"Doug Glatt, a slacker who discovers he has a t...",en,561,6.4
8778,8778,Capricorn One,In order to protect the reputation of the Amer...,en,222,6.8
681,681,Dogtooth,Three teenagers are confined to an isolated co...,el,949,7.2
3209,3209,Idiocracy,To test its top-secret Human Hibernation Proje...,en,1515,6.2
1021,1021,Stand by Me,After learning that a stranger has been accide...,en,3351,7.9
2313,2313,Pitch Perfect,College student Beca knows she does not want t...,en,4736,7.3
3062,3062,Kangaroo Jack,Two childhood friends — a New York hairstylist...,en,454,4.6
1232,1232,Scary Movie 2,While the original parodied slasher flicks lik...,en,2773,5.7
2374,2374,City of Ember,"For generations, the people of the City of Emb...",en,1114,6.2
3463,3463,Tinker Bell and the Legend of the NeverBeast,An ancient myth of a massive creature sparks t...,en,573,7.0
3357,3357,The Messenger: The Story of Joan of Arc,In 1429 a teenage girl from a remote French vi...,en,828,6.3
2785,2785,Newness,"In contemporary Los Angeles, two millennials n...",en,322,5.9

In [3]:
#The next few cells will give some information on the data; what are we working with?
tmdb_df.dtypes

Unnamed: 0             int64
title                 object
overview              object
original_language     object
vote_count             int64
vote_average         float64
dtype: object

In [4]:
tmdb_df.columns

Index(['Unnamed: 0', 'title', 'overview', 'original_language', 'vote_count',
       'vote_average'],
      dtype='object')

In [5]:
#Number of rows
tmdb_df['Unnamed: 0'].count()

10000

In [6]:
#Cleaning the CSV 
tmdb_df = tmdb_df.rename(columns={"Unnamed: 0":"Id","title":"Movie","overview":"Description","vote_count":"Vote_Count","vote_average":"Vote_Average"})

del tmdb_df['original_language']

tmdb_df

,Id,Movie,Description,Vote_Count,Vote_Average
0,0,Ad Astra,"The near future, a time when both hope and har...",2853,5.9
1,1,Bloodshot,"After he and his wife are murdered, marine Ray...",1349,7.2
2,2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,2530,7.1
3,3,Ant-Man,Armed with the astonishing ability to shrink i...,13611,7.1
4,4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",3542,5.9
...,...,...,...,...,...
9995,9995,Cargo,The story of CARGO takes place on rusty space-...,225,5.9
9996,9996,The Good Night,"Gary, a musician, is trapped in an unhappy rel...",67,5.6
9997,9997,The World Is Yours,"To escape his life of crime, a Paris drug deal...",234,7.1
9998,9998,The Grand Seduction,A small fishing village must procure a local d...,169,6.7
9999,9999,Woochi: The Demon Slayer,"Spanning four centuries in Korea, this epic ac...",78,6.7

In [8]:
tmdb_df = tmdb_df.dropna(axis=0)

tmdb_df.sample(60)

,Id,Movie,Description,Vote_Count,Vote_Average
3340,3340,Wild Tales,Six short stories that explore the extremities...,1808,7.8
804,804,Sixteen Candles,A teenage girl deals with her parents forgetti...,1281,6.8
6210,6210,The Immigrant,1921 New York. An immigrant woman is tricked i...,511,6.3
5055,5055,French Fried Vacation 2,In this sequel to Les Bronzes (1978) summer ha...,755,7.4
8684,8684,Dorm Daze 2,Sequel to Dorm Daze has most of the original g...,35,3.8
3007,3007,Assault on Wall Street,Jim is an average New Yorker living a peaceful...,304,5.8
9815,9815,"For a Good Time, Call...","College ""frenemies"" Lauren and Katie move in t...",183,5.9
3547,3547,Made of Honor,Tom and Hannah have been platonic friends for ...,1011,6.3
4104,4104,The Undefeated,"After the Civil War, ex-Union Colonel John Hen...",57,6.2
1738,1738,"Big Mommas: Like Father, Like Son",FBI agent Malcolm Turner and his 17-year-old s...,733,5.5
3486,3486,The Bad Lieutenant: Port of Call - New Orleans,Terrence McDonagh is a New Orleans Police serg...,616,6.1
5867,5867,Josie and the Pussycats,"Josie, Melody and Val are three small-town gir...",159,5.5
6701,6701,A United Kingdom,"The inspiring true story of Seretse Khama, the...",325,6.8
1216,1216,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8515,5.7
5603,5603,Hounded,Deals with the obsessive relationship between ...,9,4.8
7086,7086,Milf,A group of nerdy college guys who can't seem t...,46,4.4
3493,3493,Son of Batman,"Batman learns that he has a violent, unruly pr...",549,6.9
8344,8344,Exorcist II: The Heretic,Bizarre nightmares plague Regan MacNeil four y...,312,4.6
6765,6765,The Inbetweeners Movie,High school graduation just wouldn’t be comple...,582,6.2
7061,7061,Milk,"The true story of Harvey Milk, the first openl...",1320,7.3
8493,8493,Scared Shrekless,"Shrek challenges Donkey, Puss in Boots and his...",208,6.2
672,672,Jack Reacher: Never Go Back,Jack Reacher must uncover the truth behind a m...,3096,5.7
4989,4989,SLC Punk,"Two former geeks become 1980s punks, then part...",200,7.3
7740,7740,Murder in the First,Inspired by a true story. A petty criminal sen...,284,7.1
4313,4313,Beverly Hills Chihuahua,A pampered Beverly Hills chihuahua named Chloe...,576,4.9
6489,6489,A Very Murray Christmas,Bill Murray worries no one will show up to his...,271,5.4
2334,2334,Pacific Rim,"When legions of monstrous creatures, known as ...",8415,6.8
8999,8999,Earth,From the acclaimed team that brought you BBC's...,231,7.6
4603,4603,Ace in the Hole,A frustrated former big-city journalist now st...,278,8.0
3117,3117,2010,While planet Earth poises on the brink of nucl...,510,6.7
3774,3774,Crazy Heart,"When reporter, Jean Craddock interviews Bad Bl...",563,7.0
2682,2682,The Legend of Muay Thai: 9 Satra,When the mystical kingdom of Ramathep is besie...,7,6.1
2034,2034,KonoSuba: God's Blessing on this Wonderful Wor...,It is not strange that the Demon Lord's forces...,53,8.6
2261,2261,The Sixth Sense,A psychological thriller about an eight year o...,7239,7.9
2087,2087,Underworld: Blood Wars,Vampire death dealer Selene fends off brutal a...,2526,5.6
8943,8943,The Muppets Take Manhattan,When the Muppets graduate from Danhurst Colleg...,206,6.5
5895,5895,12 Rounds 3: Lockdown,Lockdown Follows a police officer who returns ...,81,5.3
6348,6348,Elite Squad,"In 1997, before the visit of the pope to Rio d...",1137,8.0
4046,4046,Hide and Seek,David Callaway tries to piece together his lif...,943,6.3
488,488,The Cat Returns,"Haru, a schoolgirl bored by her ordinary routi...",909,7.2
9092,9092,Embrace of the Vampire,An 18-year-old college freshman is seduced by ...,57,4.9
3608,3608,The Hole,Four teenagers at a British private school sec...,463,6.2
5328,5328,Spectral,A special-ops team is dispatched to fight supe...,939,6.3
1396,1396,Prince of Persia: The Sands of Time,A rogue prince reluctantly joins forces with a...,4618,6.2
2465,2465,Dante's Peak,Volcanologist Harry Dalton comes to the sleepy...,956,6.0
5450,5450,Heartbreak Ridge,"A hard-nosed, hard-living Marine gunnery serge...",506,6.7
640,640,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,2080,6.5
2753,2753,Carol,"In 1950s New York, a department-store clerk wh...",2320,7.4
9679,9679,Escapades with Friends,Once during a party two friends get an idea: l...,5,5.4
8682,8682,On Chesil Beach,"In 1962 England, a young couple finds their id...",160,6.1
6990,6990,Capote,"A biopic of the writer, Truman Capote and his ...",804,7.1
1596,1596,The Big Boss,Chen is a city boy who moves with his cousins ...,336,7.3
9403,9403,A Matter of Life and Death,When a young airman miraculously survives bail...,175,7.9
4390,4390,Extraction,"Tyler Rake, a fearless black market mercenary,...",0,0.0
3085,3085,The French Connection,Tough narcotics detective 'Popeye' Doyle is in...,899,7.6
1847,1847,Scream,A killer known as Ghostface begins killing off...,3437,7.2
9005,9005,Krrish,"In Singapore, Krishna is forced by circumstanc...",103,6.0
966,966,Lord of War,"Yuri Orlov is a globetrotting arms dealer and,...",2654,7.2
2268,2268,Remember the Titans,After leading his football team to 15 winning ...,1524,7.6
6783,6783,Twisted,Recently promoted and transferred to the homic...,281,5.4

In [9]:
#Writing a new CSV based on the clean version
tmdb_df.to_csv("clean_tmdb.csv",index=False)